.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55em;
    overflow: hidden;
    margin:3em 0em 2em 0em;
    position: relative;
}


.arrows { 
    display: flex;
    justify-content: space-between;
    color: rgb(197, 197, 197);
    width: 100%;
    z-index: 2;
    position: absolute;
    font-size: 30pt;
}

.arrow {
    user-select: none;
    cursor: pointer;
    margin: 1em;
    transform: scale(0.8);
    transition: 150ms;
}

.arrow:hover {
    transform: scale(1); 
    color: #fff
}

.slideImage {
    width: 100%
}

@media screen and (max-width: 768px) {
    .carousel {
        width: 85%;
        margin:3em 0em 5em 0em;
    }
    .arrow {
        transform: scale(1); 
        margin: 0;
        padding: 0.2em;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff
    }
    }