.storesLogos {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
}

.storesLogos > :first-child {
    filter: invert(1);
}

.storesLogos > img {
    width: 12em;
    margin: 0em 2em;
    user-select: none;
}

#copyright {
    font-family: 'Lato', sans-serif;
    width: 50em;
    color: #FFF
}

@media only screen and (max-width: 768px) {
    .storesLogos {
        flex-direction: column;
        width: 100%;
    }
    .storesLogos > img {
        width: 12em;
        margin: 1em;
    }
    hr {
        margin: 0.5em
    }
    #copyright {
        font-size: 10pt;
        width: 85%;
    }
}