/* Import default fonts to website */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset default values */
* {
    border: 0;
    margin: 0;
    padding: 0; 
    outline: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}